.immagine_della_ricetta{
    width: 150px;
}
body {
    margin: 0;
}

.yellow-bar{
    background-color: lightyellow;
    border-top: 1px  yellow;
    padding-bottom: 10px;
}

div{
    color: blue;
    text-align: center;
    
}
header {
    text-align: center;
}
.image {
    color: darkgrey;
}
main{
    text-align: left;
}
.featured{
    color: red;
}
.margine{
    margin-right: 800px;
    margin-left: 200px;
}