
.numeri{
    display: flex;
    border: 1px solid red;
    flex-wrap: wrap;
    flex: 0 1 10%;
    text-align: center;
    border-left: 1px solid red ;
    border-bottom: 1px solid red;
    font-weight: bold;
    gap: 20px;
}