.immagine_della_ricetta{
    width: 150px;
}

div{
    color: blue;
    text-align: center;
}
header {
    text-align: center;
}
.image {
    color: darkgrey;
}
main{
    text-align: left;
}
.featured{
    color: red;
}
