/* IMPOSTAZIONI GENERALI */

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
body{
    background-image: url("../sfondo.png");
    font-family: 'Poppins', sans-serif;
}
#intro {
    background-color: blue;
    height: 250px;
    width: 300px;
    margin-left: 50px;
}
.immagine_del_logo{
    width: 150px;
    margin-left: 50px;
    margin-top: 25px;
}
.colore{
    color: white;
 text-align: center;
 margin-top: 20px;
}
.center{
    margin-top: 30px;
    background-color: white;
    width: 300px;
    height: 500px;
    margin-left: 50px;
    border: 1px solid violet;
    border-top: none;
}
